/* .l, .a, .B, .t, .r, .E, .e {
    
} */

.l_2 {
    opacity: 1;
   }
   .l_2:hover {
    opacity: 0; 
}

.a_2 {
    opacity: 1;
   }
   .a_2:hover {
    opacity: 0; 
}

.B_2 {
    opacity: 1;
   }
   .B_2:hover {
    opacity: 0; 
}

.t_2 {
    opacity: 1;
   }
   .t_2:hover {
    opacity: 0; 
}

.r_2 {
    opacity: 1;
   }
   .r_2:hover {
    opacity: 0; 
}

.e_2 {
    opacity: 1;
   }
   .e_2:hover {
    opacity: 0; 
}

.e2_2 {
    opacity: 1;
   }
   .e2_2:hover {
    opacity: 0; 
}


.t1{
    position: absolute;
    animation: colort1 3s infinite linear;
}

@keyframes colort1 {
    0%{color: #ffffff;}
    50%{color: #000000;}
    100%{color: #ffffff;}
}

  /* .t1{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgb(0, 0, 0);
    animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
}

@keyframes cursor {
    0% {
      border-color: rgb(0, 0, 0);
    }
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: rgb(0, 0, 0);
    }
  }
  
  @keyframes printed_text {
    from {
      width: 0;
    }
  } */
  

.t2{
    position: absolute;
    animation: movet2 1s linear infinite alternate;
}

@keyframes movet2{
    from {
        transform: translateX(2%);
    }
    to {
        transform: translateX(33%);
    }
}

.t3{
    position: absolute;
    animation: movet2 1s сверхувниз infinite alternate;
}

@keyframes movet1{
    0%{
        transform: translate(-10%, 0);
      }
      100%{
        transform: translate(-60%, 0);
      }
}

.o1 {
animation: o1a 2s linear infinite;
}

@keyframes o1a {
    0% {
        width: 10%;
    }
    50% {
        width: 25%;
    }
    100% {
        width: 10%;
    }
}

.o2 {
    animation: o2a 2s linear infinite;
    }

@keyframes o2a {
    0% {
        width: 25%;
    }
    50% {
        width: 10%;
    }
    100% {
        width: 25%;
    }
}

.o3 {
    animation: o3a 2s linear infinite;
}

@keyframes o3a {
    0% {
        width: 35%;
    }
    50% {
        width: 15%;
    }
    100% {
        width: 35%;
    }
}

.o4 {
    animation: o4a 2s linear infinite;
}
    
@keyframes o4a {
    0% {
        width: 15%;
    }
    50% {
        width: 35%;
    }
    100% {
        width: 15%;
    }
}
    
.o5 {
    animation: o5a 2s linear infinite;
}
    
@keyframes o5a {
    0% {
        width: 10%;
    }
    50% {
        width: 30%;
    }
    100% {
        width: 10%;
    }
}
    
.o6 {
    animation: o6a 2s linear infinite;
}
    
@keyframes o6a {
    0% {
        width: 35%;
    }
    50% {
        width: 15%;
    }
    100% {
        width: 35%;
    }
}

.o7 {
    animation: o7a 2s linear infinite;
}
    
@keyframes o7a {
    0% {
        width: 25%;
    }
    50% {
        width: 10%;
    }
    100% {
        width: 25%;
    }
}


.flow1{
    animation: flow1a 5s linear infinite;
}

@keyframes flow1a {
    0%{
      transform: rotate(0);
    }
    
    100%{
      transform: rotate(-360deg);
    }
} 

.flow2{
    animation: flow2a 5s linear infinite;
}

@keyframes flow2a {
    100%{
      transform: rotate(0);
    }
    
    0%{
      transform: rotate(-360deg);
    }
} 

.c1, .c2, .c3, .c4, .c5, .c6 {
    animation: circle1 5s infinite linear, circle1rot 10s infinite;
}

@keyframes circle1 {
    0% {
        bottom: -10%;
        left: 45%;
    }
    50% {
        bottom: -7%;
        left: 48%;
    }
    100% {
        bottom: -10%;
        left: 45%;
    }
}
@keyframes circle1rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.z1 {
    animation: fallz1 1.5s infinite linear;
}

@keyframes fallz1 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z2 {
    animation: fallz2 2s infinite linear;
}

@keyframes fallz2 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z3 {
    animation: fallz3 1.7s infinite linear;
}

@keyframes fallz3 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z4 {
    animation: fallz4 1.8s infinite linear;
}

@keyframes fallz4 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z5 {
    animation: fallz5 1.2s infinite linear;
}

@keyframes fallz5 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z6 {
    animation: fallz3 2s infinite linear;
}

@keyframes fallz3 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z7 {
    animation: fallz7 1.7s infinite linear;
}

@keyframes fallz7 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z8 {
    animation: fallz8 1.8s infinite linear;
}

@keyframes fallz8 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z9 {
    animation: fallz9 1.2s infinite linear;
}

@keyframes fallz9 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}

.z10 {
    animation: fallz10 2s infinite linear;
}

@keyframes fallz10 {
    0% {
        top: -10vw;
    }
    100% {
        top: 60vw;
    }
}


.seed1 {
    /* width: 100%;
    margin: auto; */
    animation: rot1 linear infinite;
}

@keyframes rot1 {
    0% {
        transform: rotateY(-180deg);
    }
    40% {
        transform: rotateY(-180deg);
    }    
    50% {
        transform: rotateY(0);
    }
    90% {
        transform: rotateY(0);
    }    
    100% {
        transform: rotateY(180deg);
    } 
}  

.seed2 {
    /* width: 100%;
    margin: auto; */
    animation: rot2 linear infinite;
}

@keyframes rot2 {
    0% {
        transform: rotateY(-180deg);
    }
    40% {
        transform: rotateY(-180deg);
    }    
    50% {
        transform: rotateY(0);
    }
    90% {
        transform: rotateY(0);
    }    
    100% {
        transform: rotateY(180deg);
    } 
}    


/* .seed1 {
    animation: circle1 5s infinite linear, circle1rot 10s infinite;
}

@keyframes circle1 {
    0% {
        bottom: -10%;
        left: 45%;
    }
    50% {
        bottom: -7%;
        left: 48%;
    }
    100% {
        bottom: -10%;
        left: 45%;
    }
}
@keyframes circle1rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.seed2 {
    animation: circle2 5s infinite linear, circle2rot 10s infinite;
}

@keyframes circle2 {
    0% {
        bottom: -10%;
        left: 45%;
    }
    50% {
        bottom: -7%;
        left: 48%;
    }
    100% {
        bottom: -10%;
        left: 45%;
    }
}
@keyframes circle2rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */


.bug {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
}

.v {
    animation: fallv 1.5s infinite linear;
}

@keyframes fallv {
    0% {
        left: -20vw;
    }
    100% {
        left: 15vw;
    }
}

/* .v_2 {
    animation: fallv_2 1.5s infinite linear;
}

@keyframes fallv_2 {
    0% {
        left: -20vw;
    }
    50% {
        left: -20vw;
    }
    100% {
        left: 15vw;
    }
} */



/* 1 вариант - падение на землю */

/* .t3 {
    animation: t3as 2s linear infinite;
    animation: t3ad 1s infinite linear, t3aa 1s 0s normal none infinite running linear;
}

@keyframes t3as {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }   
    100% {
        width: 100%;
    }
}

@keyframes t3ad {
    0% {
        top: -60px;
        left: 10.2%;
    }
    100% {
        top: 30%;
        left: 10.2%;
    }
}

@keyframes t3aa {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(30deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}   */

/* 1 вариант - падение за пределы */

.t3 {
    /* animation: t3as 2s linear infinite; */
    animation: t3ad 2s infinite linear, t3aa 6s 0s normal none infinite running linear;
}

/* @keyframes t3as {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }   
    100% {
        width: 100%;
    }
} */

@keyframes t3ad {
    0% {
        top: 0vw;
        /* left: 0%; */
    }
    100% {
        top: 30vw;
        /* left: 100%; */
    }
}

@keyframes t3aa {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(40deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}  



.rec13{
    /* position: absolute; */
    animation: colorrec13 1s infinite;
}

@keyframes colorrec13 {
    0%{background-color: #ffffff;}
    50%{background-color: #1990FF;}
    100%{background-color: #ffffff;}
}

.rec14{
    /* position: absolute; */
    animation: colorrec14 1s infinite;
}

@keyframes colorrec14 {
    0%{background-color: #1990FF;}
    50%{background-color: #ffffff;}
    100%{background-color: #1990FF;}
}












/* 
.t1{
    position: absolute;
    animation: movet1 3s linear infinite;
}

@keyframes movet1{
    0%{
        transform: translate(-10%, 0);
      }
      100%{
        transform: translate(-60%, 0);
      }
}

.string__top {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    animation: top_move_1 8s infinite linear;
    align-items: center;
}
.string__bottom {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    animation: top_move_2 5s infinite linear;
    align-items: center;
}

@keyframes top_move_1 {
    0%{
      transform: translate(-10%, 0);
    }
    100%{
      transform: translate(-60%, 0);
    }
  } 
.string__bottom_item {
    color: #fff;
    font-size: 40px;
    padding-left: 3%; 
}
@keyframes top_move_2 {
    0%{
      transform: translate(-80%, 0);
    }
    
    100%{
      transform: translate(-10%, 0);
    }
  }  */