@media screen and (max-width: 430px) {
    .rec1{
        height: 38vw;
    }

    .namebox {
        margin-top: 2.5vw;
    }
    
    .rec2, .rec3, .rec13, .rec14 {
        position: relative;
        width: 100vw;
    }
    
    .rec2 {
        background-color: #ffffff;
        position: relative;
        height: 11vw;
    }
    
    .rec3 {
        background-color: #1D1D1D;
        position: relative;
        height: 11vw;
    }
    
    .t1, .t2 {
        position: absolute;
        width: 100%;
        font-size: 5.5vw;
        margin-top: 3vw;
    }
    
    .t1 {
        color: #000;
        margin-left: 10vw;
    }
    
    .t2 {
        color: #fff;
    }

    .rec4{
        width: 59.5vw;
        height: 46vw;
        position: relative;
        overflow: hidden;
        background-color: #C7C7C7;
        border-radius: 0vw 0vw 0vw 21vw;
        margin: 0 auto;
    }
    
    .o1{
        width: 25%;
        position: absolute;
        margin-left: 2.6vw;
        margin-top: 2.6vw;
    }
    
    .o2{
        width: 25%;
        position: absolute;
        margin-left: 2vw;
        margin-top: 16vw;
    }
    
    .o3{
        width: 25%;
        position: absolute;
        margin-left: 17vw;
        margin-top: 3vw;
    }
    
    .o4{
        width: 25%;
        position: absolute;
        margin-left: 14vw;
        margin-top: 24vw;
    }
    
    .o5{
        width: 25%;
        position: absolute;
        margin-left: 36vw;
        margin-top: 4vw;
    }
    
    .o6{
        width: 25%;
        position: absolute;
        margin-left: 30vw;
        margin-top: 23vw;
    }
    
    .o7{
        width: 25%;
        position: absolute;
        margin-left: 45vw;
        margin-top: 20vw;
    }
    
    .rec5 {
        width: 40.5vw;
        height: 46vw;
        background-color: #1990FF;
        border-radius: 0 0 21vw 0;
        overflow: hidden;
        position: relative;
        margin-top: 0vw;
    }

    .flow1{
        width: 31vw;
        margin-left: 9vw;
        margin-top: 0.5vw;
        position: absolute;
    }
    
    .flow2{
        width: 17vw;
        margin-left: 2.6vw;
        margin-top: 26vw;
        position: absolute;
    }

    .t3, .t4 {
        position: absolute;
        width: 100%;
        font-size: 3.8vw;
        /* margin-top: 1.6vw; */
    }

    .rec13, .rec14 {
        display: block none;
        display: flex;
        height: 9.3vw;
    }

    .rec13 {
        margin-top: -0.5vw;
    }

    .rec14 {
        margin-top: 8.8vw;
    }

    
    @media screen and (min-width: 415px) and (max-width: 768px) {
        /* Вертикальная ориентация для планшетов */
    }
    
    @media screen and (min-width: 769px) and (max-width: 1024px)  {
        /* Вертикальная ориентация для экранов от 769px до 1024px (маленькие экраны) */
    }
    
    @media screen and (min-width: 1025px) and (max-width: 1366px){
        /* Вертикальная ориентация для экранов от 1025px до 1366px */
    }
    